@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Open Sans", sans-serif;
}
main{
  max-width: 1230px;
  margin: auto;
 
}

